.header{
  background-color: #19697f;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px,20px;
 
}
.header h3{
  color: white;
  margin: 10px;
}
.logo{
  text-decoration: underline;
}