*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body{
  height: 100vh;
  width: 100vw;
  background-color: #111;
}
.parent
{
  min-height: 100vh;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.card{
  padding: 12px;
  height: 350px;
  width: 315px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  
}
.top{
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
}
.top h2{
  font-size: 20px;
  color: #333;
  padding-right:5px;
  font-weight: 600;
}
.top h6{
  font-size: 12px;
  color: black;
  margin-top: 5px;
  background-color: greenyellow;
  padding: 2px 5px;
  border-radius: 5px;
}
.centre{
  height: 60%;
  width: 100%;
}
.centre h1{
  margin-left: 15px;
  font-size: 25px;
  text-align: center;
  display: flex;
  margin: auto;
}
.centre img{
  display: block;
  margin: auto;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.centre div{
  margin-top: 8px;
  font-size: 12px;
  font-weight: 100;
  display: flex;
  gap: 10px; 
}
.centre div h3{
 background-color: white;
  border: #111 solid 1px;
  border-radius: 5px;
  padding: 2px 3px;
  background-color: rgb(219, 216, 216);
  display:block;
  margin: auto;
  font-weight: 500;
}
.centre div h4{
  display: block;
  margin: auto;
  font-size: 15px;
  font-weight: 200;
}
.centre p{
  margin-top: 5px;
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  text-align: center;
}
.bottom{
 padding: 4px;
  margin-top:72px;
  text-align: center;
}
.bottom button{
  height: 35px;
  width: 150px;
  border-radius: 20px;
  border: 1px solid #111;
  color: black;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}
.bottom button:hover{
  background-color: skyblue;
  color: white;
  transition: 0.3s;
}