
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: rgb(103, 124, 128);
}
#parent{
  padding: 20px; ;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  width: 400px;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  background-color: #523a3a;
}
button{
  padding: 10px;
  margin-top: 10px;
  border-radius: 2px;
  border: 0.5px solid blue;
  cursor: pointer;
  background-color: lightgreen;

}
.card img{
  width: 120px;
  height: 120px;
  border-radius:50%;
}
.card p{
  margin: 20px;
}
